.container__checkbox {
  display: flex;
  flex-direction: row;
}

.container__checkbox input {
  height: 15px;
  width: 15px;
}

.container__checkbox label {
  cursor: pointer;
  margin: 0px 3px;
  font-size: 18px;
  text-transform: capitalize;
}
